/* --------- Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

/* --------- Reset style */
* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    border: none;
    overflow: auto;
    outline: none;
}

/* --------- Global styles */
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Source Code Pro', monospace;
    background-image: url("../images/image.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

a, i{
    overflow: hidden;
}

/* --------- Main section style */
/* Main container styling */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    min-width: 300px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
}

.container h1{
    font-size: 2.5rem;
    font-weight: normal;
}

.container p {
    margin: 5px 0;
}

/* Glass effect styling */
.glass{
    /* background: linear-gradient(135deg rgba(255,255,255,0.1), rgba(255,255,255,0)); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}

/* Form control styling */
.form-control {
    margin-bottom: .8rem;
    display: flex;
    flex-direction: row;
}

.form-control span {
    color: #4c4c4c;
    font-weight: normal;
    font-size: .8rem;
}

.selection-box label{
    padding-left: 10px;
}

.split-items{
    display: flex;
    justify-content: space-between;
}

/* Buttons styling */
.buttons-styles{
    margin: 10px 0;
    width: 100%;
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: #742785;
    cursor: pointer;
    align-self: center;
}

.buttons-styles:hover{
    background-color: #a04a94;
}

/* Number input styling */
#length{
    background-color: #742785;   
    text-align: center;
    width: 60px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Tooltip styling */
.tooltip{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#generated-password:hover .tooltip{
    opacity: 1;
    visibility: visible;
    padding-top: 15px;
}

#generated-password{
    transition: transform 0.5s;
}

#generated-password:hover{
    transform: scale(1.02);
}

/* --------- Footer section style */
footer{
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
}

footer > p {
    align-self: center;
    width: 50%;
    margin: auto;
    padding: 10px;
}

/* Footer icon */
.fa-brands{
    font-size: 2rem;
    padding-top: 10px;
}
.fa-brands:hover{
    color: #a04a94;
}