/* --------- Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

/* --------- Reset style */
* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    outline: none;
}

/* --------- Global styles */
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Source Code Pro', monospace;
    background-image: url(/assets/images/image.webp);
    background-size: cover;
    background-repeat: no-repeat;
}


/* --------- Main section style */
/* Main container styling */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 600px;
    min-width: 300px;
    margin: 200px auto;
    padding: 15px 30px;
}

.container h1{
    font-size: 2.5rem;
    font-weight: normal;
}

.container p {
    margin: 5px 0;
}

/* Glass effect styling */
.glass{
    /* background: linear-gradient(135deg rgba(255,255,255,0.1), rgba(255,255,255,0)); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}